
# Angular-specific ignore rules (für lookappweb/lookappweb.client)

src/lookappweb.client/node_modules/
src/lookappweb.client/dist/
src/lookappweb.client/build/
src/lookappweb.client/.angular/

# Environment files (wenn du sensible Umgebungsvariablen hast)
src/lookappweb.client/src/environments/*.ts

# Log files und Editor-spezifische Dateien
src/lookappweb.client/npm-debug.log*
src/lookappweb.client/yarn-debug.log*
src/lookappweb.client/yarn-error.log*
src/lookappweb.client/.idea/
src/lookappweb.client/.vscode/
src/lookappweb.client/*.swp
src/lookappweb.client/*.swo


**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/node_modules
**/azure_secrets.txt
**/ad_secret.json
**/wwwroot
*.db*
appsettings.Development.json
package-lock.json
src/lookappweb.Application/obj/
src/lookappweb.Webapi/obj/

.DS_Store
*.user
