@use '../../styles/variables' as *;

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-bg-page;
}

.main-content {
  flex: 1;
  padding: 2rem;
}
